.CategoryListBox{
    width: 375px;
    height: 48px;
    border: 1px solid #eeeeee;

    position: absolute;
    top: 72px;
}
.CategoryUnderbar{
    width: 12px;
	height: 1px;
    border: solid 1px #2c2c2c;
    
    position: absolute;
    top: 39px;
    left: 78px;
}