.Item {
    width: 28px;
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: #a7a7a7;
    text-decoration: none;
    
    position: absolute;
    top : 12px;
}